<mat-toolbar color="primary">
  <h1>
    NGRX: TODO APP
  </h1>
</mat-toolbar>

<div class="content">
  <div fxLayoutAlign="center start" fxFlex="100">
    <div fxFlex.sm="100" fxFlex="50" fxFlex.xs="100" class="center">
      <!-- CONTENT -->
      <div class="content p-24">
        <app-addtodo></app-addtodo>
      </div>
      <!-- / CONTENT -->
    </div>
  </div>

</div>
<div>
  <div fxLayoutAlign="center start" fxFlex="100">
    <div fxFlex.sm="100" fxFlex="50" fxFlex.xs="100" class="center">
      <!-- CONTENT -->
      <div class="content p-24">
        <app-listtodo></app-listtodo>
      </div>
      <!-- / CONTENT -->
    </div>
  </div>
</div>





