<mat-card class="example-card my-10">
  <mat-card-content>
    <h3 class="mat-title">{{todo.title}}</h3>
    <p class="text-muted">{{todo.desc}}
    </p>
    <div fxlayout="row" fxLayoutAlign="end center">
      <button *ngIf="!todo.status" (click)="editTodo(todo)" class="shrink-x" mat-stroked-button color="primary">EDIT
      </button>
      <button (click)="toggleTodo(todo.id, todo.status)" class="shrink-x" mat-stroked-button color="accent">
        {{ todo.status ? 'Completed' : 'Complete Todo'}}
      </button>
      <button (click)="delTodo(todo.id)" class="shrink-x" mat-stroked-button color="warn">DELETE</button>
    </div>
  </mat-card-content>
</mat-card>
